<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Client" value="APS" />
    <add key="URL1" value="" />
    <add key="URL2" value="" />
    <add key="RunMode" value="" />
    <add key="MSP_Browser" value="" />
    <add key="Supplier_Browser" value="" />
    <add key="Client_Browser" value="" />
    <add key="CW_Browser" value="" />
    <add key="MSP_User" value="" />
    <add key="Client_User" value="" />
    <add key="Supplier_User" value="" />
    <add key="CW_User" value="" />
    <add key="PWD" value="" />
    <add key="Logger" value="true" />
      <!-- Enable-> value= true ; Disable->value=false-->
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>